.header-logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.register-cont {
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
